@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


.form {
  margin: 5px;
  padding: 40px;
}


.send1 {
    border: solid green 5px;
    background-color: rgb(136, 218, 136);
    height: 42px;
}

.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
  }
  
  .input {
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
    height: 30px;
    font-family: Dancing Script;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .send {
    
    text-transform: uppercase;
    text-decoration: none;
    background: rgb(87, 153, 148);
    padding: 20px;
    display: inline-block;
    border: none;
    color: rgb(237, 243, 237) !important;
    position: relative;
    top: 130px;
    right: 330px;
    width: 20%;
    height: 60px;
  }