@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


.form {
  margin: 5px;
  padding: 40px;
}


.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
  }
  
  .input {
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
    height: 30px;
    font-family: Dancing Script;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .send {
    
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: rgb(54, 56, 55);
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
  }

  